USE [master]
GO
/****** Object:  Database [Trenord]    Script Date: 18/12/2025 21:09:16 ******/
CREATE DATABASE [Trenord]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trenord', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Trenord.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trenord_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Trenord_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trenord].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trenord]
GO
/****** Object:  User [DESKTOP-G5TBI5K\Luca]    Script Date: 18/12/2025 21:09:16 ******/
CREATE USER [DESKTOP-G5TBI5K\Luca] FOR LOGIN [DESKTOP-G5TBI5K\Luca] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-G5TBI5K\Luca]
GO
/****** Object:  Table [dbo].[Tariffario]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffario](
	[idTariffa] [int] IDENTITY(1,1) NOT NULL,
	[tipoTitolo] [nvarchar](20) NOT NULL,
	[categoriaTitolo] [nvarchar](50) NOT NULL,
	[modalitaTariffa] [nvarchar](20) NOT NULL,
	[lineaTariffaria] [nvarchar](50) NULL,
	[kmDa] [int] NULL,
	[kmA] [int] NULL,
	[zonaDa] [nvarchar](20) NULL,
	[zonaA] [nvarchar](20) NULL,
	[prezzo] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__TARIFFAR__BBB4285C56D54136] PRIMARY KEY CLUSTERED 
(
	[idTariffa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitoloDiViaggio]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitoloDiViaggio](
	[idTitolo] [int] IDENTITY(1,1) NOT NULL,
	[idAcquisto] [int] NOT NULL,
	[dataAttivazione] [datetime2](7) NULL,
	[dataScadenza] [datetime2](7) NULL,
	[stato] [nvarchar](30) NOT NULL,
	[idTariffa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTitolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tessera]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tessera](
	[idTessera] [int] IDENTITY(1,1) NOT NULL,
	[stato] [nvarchar](30) NOT NULL,
	[dataEmissione] [datetime2](7) NOT NULL,
	[idAcquisto] [int] NOT NULL,
	[dataScadenza] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTessera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogCaricamentoAbbonamenti]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogCaricamentoAbbonamenti](
	[idCarico] [int] IDENTITY(1,1) NOT NULL,
	[idTessera] [int] NOT NULL,
	[idTitolo] [int] NOT NULL,
	[dataCarico] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCarico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDettaglioCaricamentoAbbonamenti]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vDettaglioCaricamentoAbbonamenti]
AS



SELECT
    L.[idCarico],
    L.[dataCarico],
    T.idTessera,
    T.idAcquisto AS idAcquistoTessera,
    TV.idTitolo,
    TV.stato AS statoTitolo,
    TV.dataAttivazione,
    TV.dataScadenza,
    TAR.tipoTitolo,
    TAR.categoriaTitolo,
    TAR.lineaTariffaria,
    TAR.modalitaTariffa,
    TAR.prezzo AS prezzoTariffa


FROM dbo.LogCaricamentoAbbonamenti L

JOIN dbo.Tessera T
ON (T.idTessera = L.idTessera)

JOIN dbo.TitoloDiViaggio TV
ON (TV.idTitolo = L.idTitolo)

JOIN dbo.Tariffario TAR
ON (TAR.idTariffa = TV.idTariffa)



GO
/****** Object:  Table [dbo].[ListinoTitoliViaggio]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListinoTitoliViaggio](
	[idListinoTitolo] [int] IDENTITY(1,1) NOT NULL,
	[codiceTipoTitolo] [nvarchar](50) NOT NULL,
	[descrizione] [nvarchar](200) NULL,
	[tipoTitolo] [nvarchar](20) NOT NULL,
	[categoriaTitolo] [nvarchar](50) NOT NULL,
	[modalitaTariffa] [nvarchar](20) NOT NULL,
	[codiceLinea] [nvarchar](20) NULL,
	[sistemaTariffario] [nvarchar](50) NULL,
	[rimborsabile] [bit] NOT NULL,
	[modificabile] [bit] NOT NULL,
	[inizioValidita] [date] NOT NULL,
	[fineValidita] [date] NULL,
 CONSTRAINT [PK__ListinoT__20518F49A6818758] PRIMARY KEY CLUSTERED 
(
	[idListinoTitolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpzioneAcquisto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpzioneAcquisto](
	[idOpzioneAcquisto] [int] IDENTITY(1,1) NOT NULL,
	[idListinoTitolo] [int] NOT NULL,
	[canaleAcquisto] [nvarchar](50) NOT NULL,
	[codiceTitoloListino] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idOpzioneAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acquisto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acquisto](
	[idAcquisto] [int] IDENTITY(1,1) NOT NULL,
	[idAcquirente] [int] NOT NULL,
	[dataOraAcquisto] [datetime2](7) NOT NULL,
	[canaleAcquisto] [nvarchar](50) NOT NULL,
	[statoAcquisto] [nvarchar](30) NOT NULL,
	[costoTotale] [decimal](10, 2) NOT NULL,
	[idOpzioneAcquisto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDettaglioTitoliDiViaggio]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDettaglioTitoliDiViaggio]
AS

SELECT
    TV.idTitolo,
    TV.stato AS statoTitolo,
    TV.dataAttivazione,
    TV.dataScadenza,
    A.idAcquisto,
    A.dataOraAcquisto,
    A.canaleAcquisto,
    A.statoAcquisto,
    A.costoTotale,
    OA.idOpzioneAcquisto,
    OA.canaleAcquisto AS canaleOpzione,
    OA.codiceTitoloListino,
    LTV.idListinoTitolo,
    LTV.codiceTipoTitolo,
    LTV.tipoTitolo AS tipoListino,
    LTV.categoriaTitolo AS categoriaListino,
    TAR.idTariffa,
    TAR.tipoTitolo AS tipoTariffa,
    TAR.categoriaTitolo AS categoriaTariffa,
    TAR.lineaTariffaria,
    TAR.modalitaTariffa,
    TAR.kmDa,
    TAR.kmA,
    TAR.prezzo AS prezzoTariffa


FROM dbo.TitoloDiViaggio TV

JOIN dbo.Acquisto A
ON (A.idAcquisto = TV.idAcquisto)

JOIN dbo.OpzioneAcquisto OA
ON (OA.idOpzioneAcquisto = A.idOpzioneAcquisto)

JOIN dbo.ListinoTitoliViaggio LTV
ON (ltv.idListinoTitolo = oa.idListinoTitolo)

JOIN dbo.Tariffario TAR
ON (TAR.idTariffa = TV.idTariffa)


GO
/****** Object:  Table [dbo].[Stazione]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stazione](
	[idStazione] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[provincia] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idStazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidazioneTitolo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidazioneTitolo](
	[idValidazione] [int] IDENTITY(1,1) NOT NULL,
	[idTitolo] [int] NOT NULL,
	[idTragitto] [int] NOT NULL,
	[dataOraValidazione] [datetime2](7) NOT NULL,
	[esito] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ValidazioneTitolo] PRIMARY KEY CLUSTERED 
(
	[idValidazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tragitto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tragitto](
	[idTragitto] [int] IDENTITY(1,1) NOT NULL,
	[idStazionePartenza] [int] NOT NULL,
	[idStazioneArrivo] [int] NOT NULL,
 CONSTRAINT [PK_Tragitto] PRIMARY KEY CLUSTERED 
(
	[idTragitto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDettaglioValidazioneTitolo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vDettaglioValidazioneTitolo]
AS


SELECT
    VT.idValidazione,
    VT.dataOraValidazione,
    VT.esito AS esitoValidazione,
    TV.idTitolo,
    TV.stato AS statoTitolo,
    TV.dataAttivazione,
    TV.dataScadenza,
    TAR.tipoTitolo,
    TAR.categoriaTitolo,
    TAR.modalitaTariffa,
    TAR.lineaTariffaria,
    TAR.prezzo,

    TRAG.idTragitto,
    S_P.idStazione AS idStazionePartenza,
    S_P.nome AS stazionePartenza,
    S_A.idStazione AS idStazioneArrivo,
    S_A.nome AS stazioneArrivo

FROM dbo.ValidazioneTitolo VT

JOIN dbo.TitoloDiViaggio TV
ON (TV.idTitolo = VT.idTitolo)

JOIN dbo.Tariffario TAR
ON (TAR.idTariffa = TV.idTariffa)

JOIN dbo.Tragitto TRAG
ON (TRAG.idTragitto = VT.idTragitto)

JOIN dbo.Stazione S_P
ON (S_P.idStazione = TRAG.idStazionePartenza)

JOIN dbo.Stazione S_A
ON (S_A.idStazione = TRAG.idStazioneArrivo)



GO
/****** Object:  Table [dbo].[Fermata]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fermata](
	[codiceLinea] [nvarchar](20) NOT NULL,
	[ordine] [int] NOT NULL,
	[idStazione] [int] NOT NULL,
	[kmDaPrecedente] [decimal](6, 2) NULL,
 CONSTRAINT [PK_Fermata] PRIMARY KEY CLUSTERED 
(
	[codiceLinea] ASC,
	[ordine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vTratta]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vTratta] AS


SELECT
    F2.codiceLinea,
    F1.idStazione AS idStazionePartenza,
    F2.idStazione AS idStazioneArrivo,
    F1.ordine AS ordinePartenza,
    F2.ordine AS ordineArrivo,
    F2.kmDaPrecedente AS kmTratta

FROM dbo.Fermata F1

JOIN dbo.Fermata F2
ON (F1.codiceLinea = F2.codiceLinea AND F2.ordine = F1.ordine + 1)



GO
/****** Object:  View [dbo].[vDettaglioTragitto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDettaglioTragitto]
AS
SELECT
    t.idTragitto,
    sp.nome AS stazionePartenza,
    sa.nome AS stazioneArrivo
FROM dbo.Tragitto t
JOIN dbo.Stazione sp
    ON sp.idStazione = t.idStazionePartenza
JOIN dbo.Stazione sa
    ON sa.idStazione = t.idStazioneArrivo;
GO
/****** Object:  Table [dbo].[Linea]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linea](
	[codiceLinea] [nvarchar](20) NOT NULL,
	[tipologia] [nvarchar](50) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codiceLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Corsa]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corsa](
	[idCorsa] [int] IDENTITY(1,1) NOT NULL,
	[codiceLinea] [nvarchar](20) NOT NULL,
	[idTreno] [int] NOT NULL,
	[dataoraPartenza] [datetime2](7) NULL,
	[dataoraArrivo] [datetime2](7) NULL,
	[stato] [nvarchar](20) NOT NULL,
	[ritardoMinuti] [int] NULL,
 CONSTRAINT [PK__Corsa__50CAA8EDC83BFB20] PRIMARY KEY CLUSTERED 
(
	[idCorsa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treno]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treno](
	[idTreno] [int] IDENTITY(1,1) NOT NULL,
	[modello] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTreno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Percorso]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Percorso](
	[idTragitto] [int] NOT NULL,
	[ordine] [int] NOT NULL,
	[idCorsa] [int] NOT NULL,
	[ordineFermataSalita] [int] NOT NULL,
	[ordineFermataDiscesa] [int] NOT NULL,
 CONSTRAINT [PK_Percorso] PRIMARY KEY CLUSTERED 
(
	[idTragitto] ASC,
	[ordine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDettaglioPercorso]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDettaglioPercorso]
AS



SELECT
    P.idTragitto,
    P.ordine AS ordinePercorso,
    C.idCorsa,
    L.codiceLinea,
    L.nome AS nomeLinea,
    TR.modello AS modelloTreno,
    P.ordineFermataSalita,
    P.ordineFermataDiscesa


FROM dbo.Percorso P

JOIN dbo.Corsa C
ON (C.idCorsa = P.idCorsa)

JOIN dbo.Linea L
ON (L.codiceLinea = C.codiceLinea)

JOIN dbo.Treno TR
ON (TR.idTreno = C.idTreno)


GO
/****** Object:  View [dbo].[vDettaglioTragittoCompleto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vDettaglioTragittoCompleto]
AS


SELECT
    TRAG.idTragitto,
    ST_P.nome AS stazionePartenza,
    ST_A.nome AS stazioneArrivo,
    P.ordine AS ordinePercorso,
    l.codiceLinea,
    l.nome AS nomeLinea,
    TREN.modello AS modelloTreno,
    p.ordineFermataSalita,
    p.ordineFermataDiscesa

FROM dbo.Tragitto TRAG

JOIN dbo.Stazione ST_P
ON (ST_P.idStazione = TRAG.idStazionePartenza)

JOIN dbo.Stazione ST_A
ON (ST_A.idStazione = TRAG.idStazioneArrivo)

JOIN dbo.Percorso P
ON (P.idTragitto = TRAG.idTragitto)

JOIN dbo.Corsa C
ON (c.idCorsa = p.idCorsa)

JOIN dbo.Linea L
ON (l.codiceLinea = c.codiceLinea)

JOIN dbo.Treno TREN
ON (TREN.idTreno = c.idTreno)


GO
/****** Object:  View [dbo].[vDettaglioCorsa]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDettaglioCorsa]
AS


SELECT
    C.idCorsa,
    L.codiceLinea,
    L.nome AS nomeLinea,
    TR.modello AS modelloTreno,
    C.dataoraPartenza,
    C.dataoraArrivo,
    C.stato,
    C.ritardoMinuti

FROM dbo.Corsa C

JOIN dbo.Linea L
ON (L.codiceLinea = C.codiceLinea)

JOIN dbo.Treno TR
ON (TR.idTreno = C.idTreno)



GO
/****** Object:  View [dbo].[vChilometraggioTragitto]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vChilometraggioTragitto]
AS

SELECT
    T.idTragitto,
    S_P.nome AS stazionePartenza,
    S_A.nome AS stazioneArrivo,
    SUM(F.kmDaPrecedente) AS chilometraggioTotale



FROM dbo.Tragitto T

JOIN dbo.Stazione S_P
ON (S_P.idStazione = T.idStazionePartenza)

JOIN dbo.Stazione S_A
ON (S_A.idStazione = T.idStazioneArrivo)

JOIN dbo.Percorso P
ON (P.idTragitto = T.idTragitto)

JOIN dbo.Corsa c
ON (C.idCorsa = P.idCorsa)


JOIN dbo.Fermata F
ON (F.codiceLinea = C.codiceLinea AND F.ordine > P.ordineFermataSalita AND F.ordine <= P.ordineFermataDiscesa)

GROUP BY
	T.idTragitto,
	S_P.nome,
	S_A.nome


GO
/****** Object:  Table [dbo].[Acquirente]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acquirente](
	[idAcquirente] [int] IDENTITY(1,1) NOT NULL,
	[tipoAcquirente] [nvarchar](30) NOT NULL,
	[idUtente] [int] NULL,
	[idProfilo] [int] NULL,
 CONSTRAINT [PK__Acquiren__DA51F4AC77593237] PRIMARY KEY CLUSTERED 
(
	[idAcquirente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agevolazione]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agevolazione](
	[idAgevolazione] [int] IDENTITY(1,1) NOT NULL,
	[codiceAgevolazione] [nvarchar](50) NOT NULL,
	[descrizione] [nvarchar](200) NULL,
	[scontoImportoPercentuale] [decimal](10, 2) NULL,
	[scontoImportoFisso] [decimal](10, 2) NULL,
	[profilazioneAgevolazioni] [nvarchar](60) NULL,
	[codiceLinea] [nvarchar](20) NULL,
	[categoriaTitolo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agevolazione] PRIMARY KEY CLUSTERED 
(
	[idAgevolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutorizzazionePagamento]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorizzazionePagamento](
	[idRichiestaAutorizzazione] [int] IDENTITY(1,1) NOT NULL,
	[idTransazione] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[tokenPagamento] [nvarchar](200) NOT NULL,
	[esito] [nvarchar](30) NOT NULL,
	[codiceAutorizzazione] [nvarchar](50) NULL,
	[risposta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRichiestaAutorizzazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartaRegalo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartaRegalo](
	[idCartaRegalo] [int] IDENTITY(1,1) NOT NULL,
	[idAcquisto] [int] NOT NULL,
	[valore] [decimal](10, 2) NOT NULL,
	[stato] [nvarchar](30) NOT NULL,
	[dataCreazione] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__CartaReg__0C6FD1C983DE2CBF] PRIMARY KEY CLUSTERED 
(
	[idCartaRegalo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatturaPagamento]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatturaPagamento](
	[idCattura] [int] IDENTITY(1,1) NOT NULL,
	[idRichiestaAutorizzazione] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[importo] [decimal](10, 2) NOT NULL,
	[esito] [nvarchar](30) NOT NULL,
	[conferma] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCattura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlloTitolo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlloTitolo](
	[idControllo] [int] IDENTITY(1,1) NOT NULL,
	[idTitolo] [int] NOT NULL,
	[dataControllo] [datetime2](7) NOT NULL,
	[esito] [nvarchar](25) NOT NULL,
	[idCorsa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idControllo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogModificaTitolo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogModificaTitolo](
	[idModifica] [int] IDENTITY(1,1) NOT NULL,
	[idTitolo] [int] NOT NULL,
	[idAcquirente] [int] NOT NULL,
	[campoModificato] [nvarchar](50) NOT NULL,
	[valorePrecedente] [datetime2](7) NULL,
	[valoreNuovo] [datetime2](7) NULL,
	[dataModifica] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LogModificaTitolo] PRIMARY KEY CLUSTERED 
(
	[idModifica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogRiscattoCartaRegalo]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogRiscattoCartaRegalo](
	[idRiscatto] [int] IDENTITY(1,1) NOT NULL,
	[idProfilo] [int] NOT NULL,
	[idCartaRegalo] [int] NOT NULL,
	[importoRiscattato] [decimal](10, 2) NOT NULL,
	[dataRiscatto] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRiscatto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfiloDigitale]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfiloDigitale](
	[idProfilo] [int] IDENTITY(1,1) NOT NULL,
	[idUtente] [int] NOT NULL,
	[profilazioneAgevolazioni] [nvarchar](30) NOT NULL,
	[dataCreazione] [datetime2](7) NOT NULL,
	[stato] [nvarchar](10) NOT NULL,
	[credito] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProfilo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rimborso]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rimborso](
	[idRimborso] [int] IDENTITY(1,1) NOT NULL,
	[idAcquisto] [int] NOT NULL,
	[dataRimborso] [datetime2](7) NOT NULL,
	[causale] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRimborso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanzione]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanzione](
	[idSanzione] [int] IDENTITY(1,1) NOT NULL,
	[idControllo] [int] NOT NULL,
	[importo] [decimal](10, 2) NOT NULL,
	[causale] [nvarchar](200) NULL,
	[stato] [nvarchar](30) NOT NULL,
	[dataEmissione] [datetime2](7) NOT NULL,
	[idAcquirente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanzione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplemento]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplemento](
	[idSupplemento] [int] IDENTITY(1,1) NOT NULL,
	[codiceSupplemento] [nvarchar](50) NOT NULL,
	[descrizione] [nvarchar](200) NOT NULL,
	[importo] [decimal](10, 2) NOT NULL,
	[cumulabile] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSupplemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipologiaLinea]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipologiaLinea](
	[tipologia] [nvarchar](50) NOT NULL,
	[descrizione] [nvarchar](100) NOT NULL,
	[tariffaLinea] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipologiaLinea] PRIMARY KEY CLUSTERED 
(
	[tipologia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transazione]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transazione](
	[idTransazione] [int] IDENTITY(1,1) NOT NULL,
	[idAcquisto] [int] NOT NULL,
	[stato] [nvarchar](20) NOT NULL,
	[importo] [decimal](10, 2) NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTransazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 18/12/2025 21:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[idUtente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cognome] [nvarchar](50) NULL,
	[dataNascita] [date] NOT NULL,
	[telefono] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[codiceFiscale] [char](16) NULL,
 CONSTRAINT [PK__Utente__11EA834F79D1CEA8] PRIMARY KEY CLUSTERED 
(
	[idUtente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acquirente] ON 

INSERT [dbo].[Acquirente] ([idAcquirente], [tipoAcquirente], [idUtente], [idProfilo]) VALUES (1, N'Utente', 184, NULL)
INSERT [dbo].[Acquirente] ([idAcquirente], [tipoAcquirente], [idUtente], [idProfilo]) VALUES (2, N'Utente', 185, NULL)
INSERT [dbo].[Acquirente] ([idAcquirente], [tipoAcquirente], [idUtente], [idProfilo]) VALUES (3, N'Utente', 186, NULL)
SET IDENTITY_INSERT [dbo].[Acquirente] OFF
GO
SET IDENTITY_INSERT [dbo].[Acquisto] ON 

INSERT [dbo].[Acquisto] ([idAcquisto], [idAcquirente], [dataOraAcquisto], [canaleAcquisto], [statoAcquisto], [costoTotale], [idOpzioneAcquisto]) VALUES (8, 1, CAST(N'2025-12-05T19:12:44.3819472' AS DateTime2), N'ONLINE', N'COMPLETATO', CAST(20.00 AS Decimal(10, 2)), 37)
INSERT [dbo].[Acquisto] ([idAcquisto], [idAcquirente], [dataOraAcquisto], [canaleAcquisto], [statoAcquisto], [costoTotale], [idOpzioneAcquisto]) VALUES (9, 2, CAST(N'2025-12-05T22:48:09.9046631' AS DateTime2), N'ONLINE', N'COMPLETATO', CAST(50.00 AS Decimal(10, 2)), 39)
INSERT [dbo].[Acquisto] ([idAcquisto], [idAcquirente], [dataOraAcquisto], [canaleAcquisto], [statoAcquisto], [costoTotale], [idOpzioneAcquisto]) VALUES (10, 3, CAST(N'2025-12-06T00:37:51.1184509' AS DateTime2), N'ONLINE', N'COMPLETATO', CAST(100.00 AS Decimal(10, 2)), 35)
SET IDENTITY_INSERT [dbo].[Acquisto] OFF
GO
SET IDENTITY_INSERT [dbo].[Agevolazione] ON 

INSERT [dbo].[Agevolazione] ([idAgevolazione], [codiceAgevolazione], [descrizione], [scontoImportoPercentuale], [scontoImportoFisso], [profilazioneAgevolazioni], [codiceLinea], [categoriaTitolo]) VALUES (1, N'AGEV_RAGAZZO', N'Sconto tariffario per ragazzi', CAST(50.00 AS Decimal(10, 2)), NULL, N'RAGAZZO', NULL, N'REG_ADULTO_2CL')
INSERT [dbo].[Agevolazione] ([idAgevolazione], [codiceAgevolazione], [descrizione], [scontoImportoPercentuale], [scontoImportoFisso], [profilazioneAgevolazioni], [codiceLinea], [categoriaTitolo]) VALUES (2, N'AGEV_ANZIANO', N'Sconto tariffario per anziani', CAST(20.00 AS Decimal(10, 2)), NULL, N'ANZIANO', NULL, N'REG_ADULTO_2CL')
INSERT [dbo].[Agevolazione] ([idAgevolazione], [codiceAgevolazione], [descrizione], [scontoImportoPercentuale], [scontoImportoFisso], [profilazioneAgevolazioni], [codiceLinea], [categoriaTitolo]) VALUES (3, N'AGEV_STUDENTE', N'Agevolazione tariffaria per studenti', CAST(30.00 AS Decimal(10, 2)), NULL, N'STUDENTE', NULL, N'REG_ADULTO_2CL')
SET IDENTITY_INSERT [dbo].[Agevolazione] OFF
GO
SET IDENTITY_INSERT [dbo].[AutorizzazionePagamento] ON 

INSERT [dbo].[AutorizzazionePagamento] ([idRichiestaAutorizzazione], [idTransazione], [timestamp], [tokenPagamento], [esito], [codiceAutorizzazione], [risposta]) VALUES (1, 1, CAST(N'2025-12-05T19:12:44.3819472' AS DateTime2), N'TOKEN_1', N'APPROVATA', N'AUTH_1', N'Autorizzazione concessa')
INSERT [dbo].[AutorizzazionePagamento] ([idRichiestaAutorizzazione], [idTransazione], [timestamp], [tokenPagamento], [esito], [codiceAutorizzazione], [risposta]) VALUES (2, 2, CAST(N'2025-12-05T22:48:09.9046631' AS DateTime2), N'TOKEN_2', N'APPROVATA', N'AUTH_2', N'Autorizzazione concessa')
INSERT [dbo].[AutorizzazionePagamento] ([idRichiestaAutorizzazione], [idTransazione], [timestamp], [tokenPagamento], [esito], [codiceAutorizzazione], [risposta]) VALUES (3, 3, CAST(N'2025-12-06T00:37:51.1184509' AS DateTime2), N'TOKEN_3', N'APPROVATA', N'AUTH_3', N'Autorizzazione concessa')
SET IDENTITY_INSERT [dbo].[AutorizzazionePagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[CartaRegalo] ON 

INSERT [dbo].[CartaRegalo] ([idCartaRegalo], [idAcquisto], [valore], [stato], [dataCreazione]) VALUES (1, 10, CAST(100.00 AS Decimal(10, 2)), N'EMESSA', CAST(N'2025-12-06T00:37:51.1184509' AS DateTime2))
INSERT [dbo].[CartaRegalo] ([idCartaRegalo], [idAcquisto], [valore], [stato], [dataCreazione]) VALUES (2, 8, CAST(20.00 AS Decimal(10, 2)), N'UTILIZZATA', CAST(N'2025-12-05T19:12:44.3819472' AS DateTime2))
INSERT [dbo].[CartaRegalo] ([idCartaRegalo], [idAcquisto], [valore], [stato], [dataCreazione]) VALUES (3, 9, CAST(50.00 AS Decimal(10, 2)), N'EMESSA', CAST(N'2025-12-05T22:48:09.9046631' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartaRegalo] OFF
GO
SET IDENTITY_INSERT [dbo].[CatturaPagamento] ON 

INSERT [dbo].[CatturaPagamento] ([idCattura], [idRichiestaAutorizzazione], [timestamp], [importo], [esito], [conferma]) VALUES (25, 1, CAST(N'2025-12-05T19:12:44.3819472' AS DateTime2), CAST(20.00 AS Decimal(10, 2)), N'CATTURATA', N'CAP_1')
INSERT [dbo].[CatturaPagamento] ([idCattura], [idRichiestaAutorizzazione], [timestamp], [importo], [esito], [conferma]) VALUES (26, 2, CAST(N'2025-12-05T22:48:09.9046631' AS DateTime2), CAST(50.00 AS Decimal(10, 2)), N'CATTURATA', N'CAP_2')
INSERT [dbo].[CatturaPagamento] ([idCattura], [idRichiestaAutorizzazione], [timestamp], [importo], [esito], [conferma]) VALUES (27, 3, CAST(N'2025-12-06T00:37:51.1184509' AS DateTime2), CAST(100.00 AS Decimal(10, 2)), N'CATTURATA', N'CAP_3')
SET IDENTITY_INSERT [dbo].[CatturaPagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[ControlloTitolo] ON 

INSERT [dbo].[ControlloTitolo] ([idControllo], [idTitolo], [dataControllo], [esito], [idCorsa]) VALUES (1, 11, CAST(N'2025-12-11T00:11:48.6395502' AS DateTime2), N'NEGATIVO', 3)
SET IDENTITY_INSERT [dbo].[ControlloTitolo] OFF
GO
SET IDENTITY_INSERT [dbo].[Corsa] ON 

INSERT [dbo].[Corsa] ([idCorsa], [codiceLinea], [idTreno], [dataoraPartenza], [dataoraArrivo], [stato], [ritardoMinuti]) VALUES (1, N'RE2', 1, CAST(N'2025-12-10T07:15:00.0000000' AS DateTime2), CAST(N'2025-12-10T08:20:00.0000000' AS DateTime2), N'Completata', 5)
INSERT [dbo].[Corsa] ([idCorsa], [codiceLinea], [idTreno], [dataoraPartenza], [dataoraArrivo], [stato], [ritardoMinuti]) VALUES (2, N'RE7', 2, CAST(N'2025-12-10T08:05:00.0000000' AS DateTime2), CAST(N'2025-12-10T09:10:00.0000000' AS DateTime2), N'Completata', 0)
INSERT [dbo].[Corsa] ([idCorsa], [codiceLinea], [idTreno], [dataoraPartenza], [dataoraArrivo], [stato], [ritardoMinuti]) VALUES (3, N'MXP1', 3, CAST(N'2025-12-10T06:40:00.0000000' AS DateTime2), CAST(N'2025-12-10T07:30:00.0000000' AS DateTime2), N'Completata', 10)
SET IDENTITY_INSERT [dbo].[Corsa] OFF
GO
INSERT [dbo].[Fermata] ([codiceLinea], [ordine], [idStazione], [kmDaPrecedente]) VALUES (N'MXP1', 1, 225, NULL)
INSERT [dbo].[Fermata] ([codiceLinea], [ordine], [idStazione], [kmDaPrecedente]) VALUES (N'MXP1', 2, 224, CAST(2.00 AS Decimal(6, 2)))
INSERT [dbo].[Fermata] ([codiceLinea], [ordine], [idStazione], [kmDaPrecedente]) VALUES (N'MXP1', 3, 227, CAST(16.00 AS Decimal(6, 2)))
GO
INSERT [dbo].[Linea] ([codiceLinea], [tipologia], [nome]) VALUES (N'MXP1', N'MalpensaExpress', N'Malpensa Aeroporto - Milano Cadorna')
INSERT [dbo].[Linea] ([codiceLinea], [tipologia], [nome]) VALUES (N'MXP2', N'MalpensaExpress', N'Malpensa Aeroporto - Milano Centrale')
INSERT [dbo].[Linea] ([codiceLinea], [tipologia], [nome]) VALUES (N'R1', N'Regionale', N'Bergamo - Brescia')
GO
SET IDENTITY_INSERT [dbo].[ListinoTitoliViaggio] ON 

INSERT [dbo].[ListinoTitoliViaggio] ([idListinoTitolo], [codiceTipoTitolo], [descrizione], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [codiceLinea], [sistemaTariffario], [rimborsabile], [modificabile], [inizioValidita], [fineValidita]) VALUES (1, N'BIGL_REG_ORD', N'Biglietto ferroviario regionale ordinario a tariffazione chilometrica', N'BIGLIETTO', N'REG_ORDINARIO', N'KM', NULL, N'REGIONALE', 0, 0, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-01' AS Date))
INSERT [dbo].[ListinoTitoliViaggio] ([idListinoTitolo], [codiceTipoTitolo], [descrizione], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [codiceLinea], [sistemaTariffario], [rimborsabile], [modificabile], [inizioValidita], [fineValidita]) VALUES (2, N'CARNET10_REG', N'Carnet 10 corse ferroviarie regionali a tariffazione chilometrica', N'BIGLIETTO', N'CARNET_10_CORSE', N'KM', NULL, N'REGIONALE', 0, 0, CAST(N'2025-01-01' AS Date), CAST(N'2025-09-01' AS Date))
INSERT [dbo].[ListinoTitoliViaggio] ([idListinoTitolo], [codiceTipoTitolo], [descrizione], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [codiceLinea], [sistemaTariffario], [rimborsabile], [modificabile], [inizioValidita], [fineValidita]) VALUES (3, N'ABB_REG_SETT', N'Abbonamento ferroviario regionale settimanale', N'ABBONAMENTO', N'REG_SETTIMANALE', N'KM', NULL, N'REGIONALE', 0, 1, CAST(N'2025-01-01' AS Date), CAST(N'2025-09-01' AS Date))
SET IDENTITY_INSERT [dbo].[ListinoTitoliViaggio] OFF
GO
SET IDENTITY_INSERT [dbo].[LogCaricamentoAbbonamenti] ON 

INSERT [dbo].[LogCaricamentoAbbonamenti] ([idCarico], [idTessera], [idTitolo], [dataCarico]) VALUES (1, 1, 1, CAST(N'2025-12-09T19:08:21.7365029' AS DateTime2))
INSERT [dbo].[LogCaricamentoAbbonamenti] ([idCarico], [idTessera], [idTitolo], [dataCarico]) VALUES (2, 2, 3, CAST(N'2025-12-09T22:56:47.3816657' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LogCaricamentoAbbonamenti] OFF
GO
SET IDENTITY_INSERT [dbo].[LogModificaTitolo] ON 

INSERT [dbo].[LogModificaTitolo] ([idModifica], [idTitolo], [idAcquirente], [campoModificato], [valorePrecedente], [valoreNuovo], [dataModifica]) VALUES (1, 1, 3, N'dataScadenza', CAST(N'2026-01-17T21:22:07.3633333' AS DateTime2), CAST(N'2026-02-01T23:59:59.0000000' AS DateTime2), CAST(N'2025-12-18T11:04:42.0568275' AS DateTime2))
INSERT [dbo].[LogModificaTitolo] ([idModifica], [idTitolo], [idAcquirente], [campoModificato], [valorePrecedente], [valoreNuovo], [dataModifica]) VALUES (2, 2, 3, N'dataScadenza', CAST(N'2026-01-17T21:22:07.3633333' AS DateTime2), CAST(N'2026-02-01T23:59:59.0000000' AS DateTime2), CAST(N'2025-12-18T11:05:49.7100644' AS DateTime2))
INSERT [dbo].[LogModificaTitolo] ([idModifica], [idTitolo], [idAcquirente], [campoModificato], [valorePrecedente], [valoreNuovo], [dataModifica]) VALUES (3, 12, 40, N'dataAttivazione', CAST(N'2025-12-17T23:22:18.9333333' AS DateTime2), CAST(N'2025-11-17T21:27:45.0000000' AS DateTime2), CAST(N'2025-12-18T11:06:48.4824834' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LogModificaTitolo] OFF
GO
SET IDENTITY_INSERT [dbo].[LogRiscattoCartaRegalo] ON 

INSERT [dbo].[LogRiscattoCartaRegalo] ([idRiscatto], [idProfilo], [idCartaRegalo], [importoRiscattato], [dataRiscatto]) VALUES (1, 47, 2, CAST(20.00 AS Decimal(10, 2)), CAST(N'2025-12-07T00:18:56.8341975' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LogRiscattoCartaRegalo] OFF
GO
SET IDENTITY_INSERT [dbo].[OpzioneAcquisto] ON 

INSERT [dbo].[OpzioneAcquisto] ([idOpzioneAcquisto], [idListinoTitolo], [canaleAcquisto], [codiceTitoloListino]) VALUES (1, 12, N'ONLINE', N'GITE_TRENO')
INSERT [dbo].[OpzioneAcquisto] ([idOpzioneAcquisto], [idListinoTitolo], [canaleAcquisto], [codiceTitoloListino]) VALUES (2, 1, N'ONLINE', N'BIGL_REG_ORD')
INSERT [dbo].[OpzioneAcquisto] ([idOpzioneAcquisto], [idListinoTitolo], [canaleAcquisto], [codiceTitoloListino]) VALUES (3, 1, N'APP', N'BIGL_REG_ORD')
SET IDENTITY_INSERT [dbo].[OpzioneAcquisto] OFF
GO
INSERT [dbo].[Percorso] ([idTragitto], [ordine], [idCorsa], [ordineFermataSalita], [ordineFermataDiscesa]) VALUES (1, 1, 9, 1, 7)
INSERT [dbo].[Percorso] ([idTragitto], [ordine], [idCorsa], [ordineFermataSalita], [ordineFermataDiscesa]) VALUES (1, 2, 1, 1, 6)
INSERT [dbo].[Percorso] ([idTragitto], [ordine], [idCorsa], [ordineFermataSalita], [ordineFermataDiscesa]) VALUES (2, 1, 2, 2, 8)
GO
SET IDENTITY_INSERT [dbo].[ProfiloDigitale] ON 

INSERT [dbo].[ProfiloDigitale] ([idProfilo], [idUtente], [profilazioneAgevolazioni], [dataCreazione], [stato], [credito]) VALUES (42, 184, N'STANDARD', CAST(N'2025-12-03T19:07:14.3847721' AS DateTime2), N'Attivo', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[ProfiloDigitale] ([idProfilo], [idUtente], [profilazioneAgevolazioni], [dataCreazione], [stato], [credito]) VALUES (43, 185, N'STUDENTE', CAST(N'2025-12-03T19:42:58.9034416' AS DateTime2), N'Attivo', CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[ProfiloDigitale] ([idProfilo], [idUtente], [profilazioneAgevolazioni], [dataCreazione], [stato], [credito]) VALUES (44, 186, N'ANZIANO', CAST(N'2025-12-03T20:11:36.5512874' AS DateTime2), N'Attivo', CAST(15.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ProfiloDigitale] OFF
GO
SET IDENTITY_INSERT [dbo].[Rimborso] ON 

INSERT [dbo].[Rimborso] ([idRimborso], [idAcquisto], [dataRimborso], [causale]) VALUES (1, 27, CAST(N'2025-12-12T04:22:19.1956634' AS DateTime2), N'Rimborso per disservizio')
SET IDENTITY_INSERT [dbo].[Rimborso] OFF
GO
SET IDENTITY_INSERT [dbo].[Sanzione] ON 

INSERT [dbo].[Sanzione] ([idSanzione], [idControllo], [importo], [causale], [stato], [dataEmissione], [idAcquirente]) VALUES (1, 1, CAST(84.00 AS Decimal(10, 2)), N'Controllo titolo non valido', N'EMESSA', CAST(N'2025-12-11T00:11:48.6395500' AS DateTime2), 35)
SET IDENTITY_INSERT [dbo].[Sanzione] OFF
GO
SET IDENTITY_INSERT [dbo].[Stazione] ON 

INSERT [dbo].[Stazione] ([idStazione], [nome], [provincia]) VALUES (155, N'MILANO PORTA GARIBALDI', N'MI')
INSERT [dbo].[Stazione] ([idStazione], [nome], [provincia]) VALUES (156, N'MILANO CENTRALE', N'MI')
INSERT [dbo].[Stazione] ([idStazione], [nome], [provincia]) VALUES (157, N'MILANO GRECO PIRELLI', N'MI')
SET IDENTITY_INSERT [dbo].[Stazione] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplemento] ON 

INSERT [dbo].[Supplemento] ([idSupplemento], [codiceSupplemento], [descrizione], [importo], [cumulabile]) VALUES (1, N'SUPPL_1CL', N'Supplemento per accesso alla prima classe', CAST(3.60 AS Decimal(10, 2)), 1)
INSERT [dbo].[Supplemento] ([idSupplemento], [codiceSupplemento], [descrizione], [importo], [cumulabile]) VALUES (2, N'SUPPL_MXP', N'Supplemento per utilizzo Malpensa Express', CAST(13.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Supplemento] ([idSupplemento], [codiceSupplemento], [descrizione], [importo], [cumulabile]) VALUES (3, N'SUPPL_SERVIZI_PREMIUM', N'Supplemento per servizi aggiuntivi', CAST(5.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Supplemento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariffario] ON 

INSERT [dbo].[Tariffario] ([idTariffa], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [lineaTariffaria], [kmDa], [kmA], [zonaDa], [zonaA], [prezzo]) VALUES (1, N'BIGLIETTO', N'GITA_APRICA_SKIPASS_1G', N'FISSA', N'GITE_IN_TRENO', NULL, NULL, NULL, NULL, CAST(67.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffario] ([idTariffa], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [lineaTariffaria], [kmDa], [kmA], [zonaDa], [zonaA], [prezzo]) VALUES (2, N'BIGLIETTO', N'GITA_APRICA_SKIPASS_2G', N'FISSA', N'GITE_IN_TRENO', NULL, NULL, NULL, NULL, CAST(98.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffario] ([idTariffa], [tipoTitolo], [categoriaTitolo], [modalitaTariffa], [lineaTariffaria], [kmDa], [kmA], [zonaDa], [zonaA], [prezzo]) VALUES (3, N'BIGLIETTO', N'GITA_VALMALENCO_SKIPASS_1G', N'FISSA', N'GITE_IN_TRENO', NULL, NULL, NULL, NULL, CAST(67.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tariffario] OFF
GO
SET IDENTITY_INSERT [dbo].[Tessera] ON 

INSERT [dbo].[Tessera] ([idTessera], [stato], [dataEmissione], [idAcquisto], [dataScadenza]) VALUES (1, N'ATTIVA', CAST(N'2025-12-06T20:05:33.6728845' AS DateTime2), 11, CAST(N'2025-12-12T00:58:19.1956634' AS DateTime2))
INSERT [dbo].[Tessera] ([idTessera], [stato], [dataEmissione], [idAcquisto], [dataScadenza]) VALUES (2, N'ATTIVA', CAST(N'2025-12-06T23:41:27.5093316' AS DateTime2), 13, CAST(N'2025-12-15T12:23:55.1258974' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tessera] OFF
GO
INSERT [dbo].[TipologiaLinea] ([tipologia], [descrizione], [tariffaLinea]) VALUES (N'MalpensaExpress', N'Collegamenti ferroviari dedicati da e per l’aeroporto di Malpensa', N'MALPENSA_EXPRESS')
INSERT [dbo].[TipologiaLinea] ([tipologia], [descrizione], [tariffaLinea]) VALUES (N'RegioExpress', N'Servizi ferroviari regionali a fermate limitate su tratte medio-lunghe', N'REGIONALE')
INSERT [dbo].[TipologiaLinea] ([tipologia], [descrizione], [tariffaLinea]) VALUES (N'Regionale', N'Servizi ferroviari regionali con fermate distribuite su tutto il percorso', N'REGIONALE')
GO
SET IDENTITY_INSERT [dbo].[TitoloDiViaggio] ON 

INSERT [dbo].[TitoloDiViaggio] ([idTitolo], [idAcquisto], [dataAttivazione], [dataScadenza], [stato], [idTariffa]) VALUES (1, 17, CAST(N'2025-12-07T00:18:56.8341975' AS DateTime2), CAST(N'2026-02-01T23:59:59.0000000' AS DateTime2), N'ATTIVO', 99)
INSERT [dbo].[TitoloDiViaggio] ([idTitolo], [idAcquisto], [dataAttivazione], [dataScadenza], [stato], [idTariffa]) VALUES (2, 18, CAST(N'2025-12-07T19:54:02.4178839' AS DateTime2), CAST(N'2026-02-01T23:59:59.0000000' AS DateTime2), N'ATTIVO', 101)
INSERT [dbo].[TitoloDiViaggio] ([idTitolo], [idAcquisto], [dataAttivazione], [dataScadenza], [stato], [idTariffa]) VALUES (3, 19, CAST(N'2025-12-07T22:09:45.6612047' AS DateTime2), CAST(N'2026-01-17T21:22:07.3633333' AS DateTime2), N'ATTIVO', 103)
SET IDENTITY_INSERT [dbo].[TitoloDiViaggio] OFF
GO
SET IDENTITY_INSERT [dbo].[Tragitto] ON 

INSERT [dbo].[Tragitto] ([idTragitto], [idStazionePartenza], [idStazioneArrivo]) VALUES (1, 182, 156)
INSERT [dbo].[Tragitto] ([idTragitto], [idStazionePartenza], [idStazioneArrivo]) VALUES (2, 214, 160)
INSERT [dbo].[Tragitto] ([idTragitto], [idStazionePartenza], [idStazioneArrivo]) VALUES (3, 225, 156)
SET IDENTITY_INSERT [dbo].[Tragitto] OFF
GO
SET IDENTITY_INSERT [dbo].[Transazione] ON 

INSERT [dbo].[Transazione] ([idTransazione], [idAcquisto], [stato], [importo], [timestamp]) VALUES (1, 8, N'CATTURATA', CAST(20.00 AS Decimal(10, 2)), CAST(N'2025-12-05T19:12:44.3819472' AS DateTime2))
INSERT [dbo].[Transazione] ([idTransazione], [idAcquisto], [stato], [importo], [timestamp]) VALUES (2, 9, N'CATTURATA', CAST(50.00 AS Decimal(10, 2)), CAST(N'2025-12-05T22:48:09.9046631' AS DateTime2))
INSERT [dbo].[Transazione] ([idTransazione], [idAcquisto], [stato], [importo], [timestamp]) VALUES (3, 10, N'CATTURATA', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-12-06T00:37:51.1184509' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Transazione] OFF
GO
SET IDENTITY_INSERT [dbo].[Treno] ON 

INSERT [dbo].[Treno] ([idTreno], [modello]) VALUES (1, N'ETR 425')
INSERT [dbo].[Treno] ([idTreno], [modello]) VALUES (2, N'ETR 521')
INSERT [dbo].[Treno] ([idTreno], [modello]) VALUES (3, N'ETR 526')
SET IDENTITY_INSERT [dbo].[Treno] OFF
GO
SET IDENTITY_INSERT [dbo].[Utente] ON 

INSERT [dbo].[Utente] ([idUtente], [nome], [cognome], [dataNascita], [telefono], [email], [codiceFiscale]) VALUES (184, N'Mario', N'Rossi', CAST(N'1967-05-18' AS Date), NULL, N'mario.rossi@google.com', N'471EA56F76884AFD')
INSERT [dbo].[Utente] ([idUtente], [nome], [cognome], [dataNascita], [telefono], [email], [codiceFiscale]) VALUES (185, N'Matteo', N'Bianchi', CAST(N'2000-09-09' AS Date), N'+390539223697', N'matteo.bianchi@google.com', N'823029950C9846D2')
INSERT [dbo].[Utente] ([idUtente], [nome], [cognome], [dataNascita], [telefono], [email], [codiceFiscale]) VALUES (186, N'Luca', N'Ferrari', CAST(N'1949-12-19' AS Date), N'+390709333479', N'luca.ferrari@google.com', N'2C24F9454CF74A53')
SET IDENTITY_INSERT [dbo].[Utente] OFF
GO
SET IDENTITY_INSERT [dbo].[ValidazioneTitolo] ON 

INSERT [dbo].[ValidazioneTitolo] ([idValidazione], [idTitolo], [idTragitto], [dataOraValidazione], [esito]) VALUES (1, 1, 1, CAST(N'2025-12-11T19:04:22.8837716' AS DateTime2), N'VALIDA')
INSERT [dbo].[ValidazioneTitolo] ([idValidazione], [idTitolo], [idTragitto], [dataOraValidazione], [esito]) VALUES (2, 1, 2, CAST(N'2025-12-11T19:18:59.4409928' AS DateTime2), N'VALIDA')
INSERT [dbo].[ValidazioneTitolo] ([idValidazione], [idTitolo], [idTragitto], [dataOraValidazione], [esito]) VALUES (3, 1, 3, CAST(N'2025-12-11T19:33:11.6275510' AS DateTime2), N'VALIDA')
SET IDENTITY_INSERT [dbo].[ValidazioneTitolo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Agevolazione_Codice]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Agevolazione] ADD  CONSTRAINT [UQ_Agevolazione_Codice] UNIQUE NONCLUSTERED 
(
	[codiceAgevolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Autorizz__B39B9336B7BA23CF]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[AutorizzazionePagamento] ADD UNIQUE NONCLUSTERED 
(
	[idTransazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CartaRegalo_Acquisto]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[CartaRegalo] ADD  CONSTRAINT [UQ_CartaRegalo_Acquisto] UNIQUE NONCLUSTERED 
(
	[idAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ListinoT__CF50ED44A21883DA]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[ListinoTitoliViaggio] ADD  CONSTRAINT [UQ__ListinoT__CF50ED44A21883DA] UNIQUE NONCLUSTERED 
(
	[codiceTipoTitolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ListinoTitoliViaggio_codiceTipoTitolo]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[ListinoTitoliViaggio] ADD  CONSTRAINT [UQ_ListinoTitoliViaggio_codiceTipoTitolo] UNIQUE NONCLUSTERED 
(
	[codiceTipoTitolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_OpzioneAcquisto_Listino_Canale]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[OpzioneAcquisto] ADD  CONSTRAINT [UQ_OpzioneAcquisto_Listino_Canale] UNIQUE NONCLUSTERED 
(
	[idListinoTitolo] ASC,
	[canaleAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Percorso_Tragitto_Corsa]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Percorso] ADD  CONSTRAINT [UQ_Percorso_Tragitto_Corsa] UNIQUE NONCLUSTERED 
(
	[idTragitto] ASC,
	[idCorsa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Sanzione__8F021D12E5E8006B]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Sanzione] ADD UNIQUE NONCLUSTERED 
(
	[idControllo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Suppleme__B70A2C3B0386F5A2]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Supplemento] ADD UNIQUE NONCLUSTERED 
(
	[codiceSupplemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tariffario_Identita]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Tariffario] ADD  CONSTRAINT [UQ_Tariffario_Identita] UNIQUE NONCLUSTERED 
(
	[tipoTitolo] ASC,
	[categoriaTitolo] ASC,
	[modalitaTariffa] ASC,
	[lineaTariffaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_TipologiaLinea_Descrizione]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[TipologiaLinea] ADD  CONSTRAINT [Unique_TipologiaLinea_Descrizione] UNIQUE NONCLUSTERED 
(
	[descrizione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Transazi__DBBD4FD04ECAEEB6]    Script Date: 18/12/2025 21:09:17 ******/
ALTER TABLE [dbo].[Transazione] ADD UNIQUE NONCLUSTERED 
(
	[idAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Acquisto] ADD  DEFAULT (sysdatetime()) FOR [dataOraAcquisto]
GO
ALTER TABLE [dbo].[AutorizzazionePagamento] ADD  CONSTRAINT [DF_AutorizzazionePagamento_Esito]  DEFAULT ('IN_ATTESA') FOR [esito]
GO
ALTER TABLE [dbo].[CartaRegalo] ADD  CONSTRAINT [DF__CartaRega__dataC__7BE56230]  DEFAULT (sysdatetime()) FOR [dataCreazione]
GO
ALTER TABLE [dbo].[CatturaPagamento] ADD  CONSTRAINT [DF_CatturaPagamento_Esito]  DEFAULT ('IN_GESTIONE') FOR [esito]
GO
ALTER TABLE [dbo].[ControlloTitolo] ADD  DEFAULT (sysdatetime()) FOR [dataControllo]
GO
ALTER TABLE [dbo].[Corsa] ADD  CONSTRAINT [DF_Corsa_Stato]  DEFAULT ('Pianificata') FOR [stato]
GO
ALTER TABLE [dbo].[Linea] ADD  CONSTRAINT [DF_Linea_nome]  DEFAULT ('') FOR [nome]
GO
ALTER TABLE [dbo].[LogCaricamentoAbbonamenti] ADD  DEFAULT (sysdatetime()) FOR [dataCarico]
GO
ALTER TABLE [dbo].[LogModificaTitolo] ADD  CONSTRAINT [DF_LogModificaTitolo_Data]  DEFAULT (sysdatetime()) FOR [dataModifica]
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo] ADD  DEFAULT (sysdatetime()) FOR [dataRiscatto]
GO
ALTER TABLE [dbo].[ProfiloDigitale] ADD  DEFAULT (sysdatetime()) FOR [dataCreazione]
GO
ALTER TABLE [dbo].[ProfiloDigitale] ADD  DEFAULT ((0)) FOR [credito]
GO
ALTER TABLE [dbo].[Rimborso] ADD  DEFAULT (sysdatetime()) FOR [dataRimborso]
GO
ALTER TABLE [dbo].[Sanzione] ADD  DEFAULT (sysdatetime()) FOR [dataEmissione]
GO
ALTER TABLE [dbo].[Supplemento] ADD  DEFAULT ((1)) FOR [cumulabile]
GO
ALTER TABLE [dbo].[Tessera] ADD  DEFAULT (sysdatetime()) FOR [dataEmissione]
GO
ALTER TABLE [dbo].[Transazione] ADD  CONSTRAINT [DF_Transazione_Stato]  DEFAULT ('CREATA') FOR [stato]
GO
ALTER TABLE [dbo].[Transazione] ADD  DEFAULT (sysdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[ValidazioneTitolo] ADD  CONSTRAINT [DF_ValidazioneTitolo_DataOra]  DEFAULT (sysdatetime()) FOR [dataOraValidazione]
GO
ALTER TABLE [dbo].[Acquirente]  WITH CHECK ADD  CONSTRAINT [FK_Acquirente_ProfiloDigitale] FOREIGN KEY([idProfilo])
REFERENCES [dbo].[ProfiloDigitale] ([idProfilo])
GO
ALTER TABLE [dbo].[Acquirente] CHECK CONSTRAINT [FK_Acquirente_ProfiloDigitale]
GO
ALTER TABLE [dbo].[Acquirente]  WITH CHECK ADD  CONSTRAINT [FK_Acquirente_Utente] FOREIGN KEY([idUtente])
REFERENCES [dbo].[Utente] ([idUtente])
GO
ALTER TABLE [dbo].[Acquirente] CHECK CONSTRAINT [FK_Acquirente_Utente]
GO
ALTER TABLE [dbo].[Acquisto]  WITH CHECK ADD  CONSTRAINT [FK_Acquisto_Acquirente] FOREIGN KEY([idAcquirente])
REFERENCES [dbo].[Acquirente] ([idAcquirente])
GO
ALTER TABLE [dbo].[Acquisto] CHECK CONSTRAINT [FK_Acquisto_Acquirente]
GO
ALTER TABLE [dbo].[Acquisto]  WITH CHECK ADD  CONSTRAINT [FK_Acquisto_OpzioneAcquisto] FOREIGN KEY([idOpzioneAcquisto])
REFERENCES [dbo].[OpzioneAcquisto] ([idOpzioneAcquisto])
GO
ALTER TABLE [dbo].[Acquisto] CHECK CONSTRAINT [FK_Acquisto_OpzioneAcquisto]
GO
ALTER TABLE [dbo].[Agevolazione]  WITH CHECK ADD  CONSTRAINT [FK_Agevolazione_Linea] FOREIGN KEY([codiceLinea])
REFERENCES [dbo].[Linea] ([codiceLinea])
GO
ALTER TABLE [dbo].[Agevolazione] CHECK CONSTRAINT [FK_Agevolazione_Linea]
GO
ALTER TABLE [dbo].[AutorizzazionePagamento]  WITH CHECK ADD  CONSTRAINT [FK_Autorizzazione_Transazione] FOREIGN KEY([idTransazione])
REFERENCES [dbo].[Transazione] ([idTransazione])
GO
ALTER TABLE [dbo].[AutorizzazionePagamento] CHECK CONSTRAINT [FK_Autorizzazione_Transazione]
GO
ALTER TABLE [dbo].[CartaRegalo]  WITH CHECK ADD  CONSTRAINT [FK_CartaRegalo_Acquisto] FOREIGN KEY([idAcquisto])
REFERENCES [dbo].[Acquisto] ([idAcquisto])
GO
ALTER TABLE [dbo].[CartaRegalo] CHECK CONSTRAINT [FK_CartaRegalo_Acquisto]
GO
ALTER TABLE [dbo].[CatturaPagamento]  WITH CHECK ADD  CONSTRAINT [FK_CatturaPagamento_Autorizzazione] FOREIGN KEY([idRichiestaAutorizzazione])
REFERENCES [dbo].[AutorizzazionePagamento] ([idRichiestaAutorizzazione])
GO
ALTER TABLE [dbo].[CatturaPagamento] CHECK CONSTRAINT [FK_CatturaPagamento_Autorizzazione]
GO
ALTER TABLE [dbo].[ControlloTitolo]  WITH CHECK ADD  CONSTRAINT [Fk_LogControlloTitolo_Corsa] FOREIGN KEY([idCorsa])
REFERENCES [dbo].[Corsa] ([idCorsa])
GO
ALTER TABLE [dbo].[ControlloTitolo] CHECK CONSTRAINT [Fk_LogControlloTitolo_Corsa]
GO
ALTER TABLE [dbo].[ControlloTitolo]  WITH CHECK ADD  CONSTRAINT [Fk_LogControlloTitolo_TitoloDiViaggio] FOREIGN KEY([idTitolo])
REFERENCES [dbo].[TitoloDiViaggio] ([idTitolo])
GO
ALTER TABLE [dbo].[ControlloTitolo] CHECK CONSTRAINT [Fk_LogControlloTitolo_TitoloDiViaggio]
GO
ALTER TABLE [dbo].[Corsa]  WITH CHECK ADD  CONSTRAINT [FK_Corsa_Linea] FOREIGN KEY([codiceLinea])
REFERENCES [dbo].[Linea] ([codiceLinea])
GO
ALTER TABLE [dbo].[Corsa] CHECK CONSTRAINT [FK_Corsa_Linea]
GO
ALTER TABLE [dbo].[Corsa]  WITH CHECK ADD  CONSTRAINT [FK_Corsa_Treno] FOREIGN KEY([idTreno])
REFERENCES [dbo].[Treno] ([idTreno])
GO
ALTER TABLE [dbo].[Corsa] CHECK CONSTRAINT [FK_Corsa_Treno]
GO
ALTER TABLE [dbo].[Fermata]  WITH CHECK ADD  CONSTRAINT [FK_Fermata_Linea] FOREIGN KEY([codiceLinea])
REFERENCES [dbo].[Linea] ([codiceLinea])
GO
ALTER TABLE [dbo].[Fermata] CHECK CONSTRAINT [FK_Fermata_Linea]
GO
ALTER TABLE [dbo].[Fermata]  WITH CHECK ADD  CONSTRAINT [FK_Fermata_Stazione] FOREIGN KEY([idStazione])
REFERENCES [dbo].[Stazione] ([idStazione])
GO
ALTER TABLE [dbo].[Fermata] CHECK CONSTRAINT [FK_Fermata_Stazione]
GO
ALTER TABLE [dbo].[Linea]  WITH CHECK ADD  CONSTRAINT [FK_Linea_TipologiaLinea] FOREIGN KEY([tipologia])
REFERENCES [dbo].[TipologiaLinea] ([tipologia])
GO
ALTER TABLE [dbo].[Linea] CHECK CONSTRAINT [FK_Linea_TipologiaLinea]
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio]  WITH CHECK ADD  CONSTRAINT [FK_ListinoTitoliViaggio_Linea] FOREIGN KEY([codiceLinea])
REFERENCES [dbo].[Linea] ([codiceLinea])
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio] CHECK CONSTRAINT [FK_ListinoTitoliViaggio_Linea]
GO
ALTER TABLE [dbo].[LogCaricamentoAbbonamenti]  WITH CHECK ADD  CONSTRAINT [FK_CaricoTessera] FOREIGN KEY([idTessera])
REFERENCES [dbo].[Tessera] ([idTessera])
GO
ALTER TABLE [dbo].[LogCaricamentoAbbonamenti] CHECK CONSTRAINT [FK_CaricoTessera]
GO
ALTER TABLE [dbo].[LogCaricamentoAbbonamenti]  WITH CHECK ADD  CONSTRAINT [fkCaricoTitolo] FOREIGN KEY([idTitolo])
REFERENCES [dbo].[TitoloDiViaggio] ([idTitolo])
GO
ALTER TABLE [dbo].[LogCaricamentoAbbonamenti] CHECK CONSTRAINT [fkCaricoTitolo]
GO
ALTER TABLE [dbo].[LogModificaTitolo]  WITH CHECK ADD  CONSTRAINT [FK_LogModificaTitolo_Acquirente] FOREIGN KEY([idAcquirente])
REFERENCES [dbo].[Acquirente] ([idAcquirente])
GO
ALTER TABLE [dbo].[LogModificaTitolo] CHECK CONSTRAINT [FK_LogModificaTitolo_Acquirente]
GO
ALTER TABLE [dbo].[LogModificaTitolo]  WITH CHECK ADD  CONSTRAINT [FK_LogModificaTitolo_Titolo] FOREIGN KEY([idTitolo])
REFERENCES [dbo].[TitoloDiViaggio] ([idTitolo])
GO
ALTER TABLE [dbo].[LogModificaTitolo] CHECK CONSTRAINT [FK_LogModificaTitolo_Titolo]
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo]  WITH CHECK ADD  CONSTRAINT [FK_LogCaricamentoAbbonamenti_CartaRegalo] FOREIGN KEY([idCartaRegalo])
REFERENCES [dbo].[CartaRegalo] ([idCartaRegalo])
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo] CHECK CONSTRAINT [FK_LogCaricamentoAbbonamenti_CartaRegalo]
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo]  WITH CHECK ADD  CONSTRAINT [FK_LogCaricamentoAbbonamenti_Profilo] FOREIGN KEY([idProfilo])
REFERENCES [dbo].[ProfiloDigitale] ([idProfilo])
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo] CHECK CONSTRAINT [FK_LogCaricamentoAbbonamenti_Profilo]
GO
ALTER TABLE [dbo].[OpzioneAcquisto]  WITH CHECK ADD  CONSTRAINT [FK_OpzioneAcquisto_CodiceTipoTitolo] FOREIGN KEY([codiceTitoloListino])
REFERENCES [dbo].[ListinoTitoliViaggio] ([codiceTipoTitolo])
GO
ALTER TABLE [dbo].[OpzioneAcquisto] CHECK CONSTRAINT [FK_OpzioneAcquisto_CodiceTipoTitolo]
GO
ALTER TABLE [dbo].[OpzioneAcquisto]  WITH CHECK ADD  CONSTRAINT [FK_OpzioneAcquisto_ListinoTitoliViaggio] FOREIGN KEY([idListinoTitolo])
REFERENCES [dbo].[ListinoTitoliViaggio] ([idListinoTitolo])
GO
ALTER TABLE [dbo].[OpzioneAcquisto] CHECK CONSTRAINT [FK_OpzioneAcquisto_ListinoTitoliViaggio]
GO
ALTER TABLE [dbo].[Percorso]  WITH CHECK ADD  CONSTRAINT [FK_Percorso_Corsa] FOREIGN KEY([idCorsa])
REFERENCES [dbo].[Corsa] ([idCorsa])
GO
ALTER TABLE [dbo].[Percorso] CHECK CONSTRAINT [FK_Percorso_Corsa]
GO
ALTER TABLE [dbo].[Percorso]  WITH CHECK ADD  CONSTRAINT [FK_Percorso_Tragitto] FOREIGN KEY([idTragitto])
REFERENCES [dbo].[Tragitto] ([idTragitto])
GO
ALTER TABLE [dbo].[Percorso] CHECK CONSTRAINT [FK_Percorso_Tragitto]
GO
ALTER TABLE [dbo].[ProfiloDigitale]  WITH CHECK ADD  CONSTRAINT [FK_ProfiloDigitale_Utente] FOREIGN KEY([idUtente])
REFERENCES [dbo].[Utente] ([idUtente])
GO
ALTER TABLE [dbo].[ProfiloDigitale] CHECK CONSTRAINT [FK_ProfiloDigitale_Utente]
GO
ALTER TABLE [dbo].[Sanzione]  WITH CHECK ADD  CONSTRAINT [FK_Sanzione_Acquirente] FOREIGN KEY([idAcquirente])
REFERENCES [dbo].[Acquirente] ([idAcquirente])
GO
ALTER TABLE [dbo].[Sanzione] CHECK CONSTRAINT [FK_Sanzione_Acquirente]
GO
ALTER TABLE [dbo].[Sanzione]  WITH CHECK ADD  CONSTRAINT [FK_SanzioneControllo] FOREIGN KEY([idControllo])
REFERENCES [dbo].[ControlloTitolo] ([idControllo])
GO
ALTER TABLE [dbo].[Sanzione] CHECK CONSTRAINT [FK_SanzioneControllo]
GO
ALTER TABLE [dbo].[Tessera]  WITH CHECK ADD  CONSTRAINT [FK_Tessera_Acquisto] FOREIGN KEY([idAcquisto])
REFERENCES [dbo].[Acquisto] ([idAcquisto])
GO
ALTER TABLE [dbo].[Tessera] CHECK CONSTRAINT [FK_Tessera_Acquisto]
GO
ALTER TABLE [dbo].[TitoloDiViaggio]  WITH CHECK ADD FOREIGN KEY([idTariffa])
REFERENCES [dbo].[Tariffario] ([idTariffa])
GO
ALTER TABLE [dbo].[TitoloDiViaggio]  WITH CHECK ADD  CONSTRAINT [FK_TitoloDiViaggio_Acquisto] FOREIGN KEY([idAcquisto])
REFERENCES [dbo].[Acquisto] ([idAcquisto])
GO
ALTER TABLE [dbo].[TitoloDiViaggio] CHECK CONSTRAINT [FK_TitoloDiViaggio_Acquisto]
GO
ALTER TABLE [dbo].[Tragitto]  WITH CHECK ADD  CONSTRAINT [FK_Tragitto_StazioneArrivo] FOREIGN KEY([idStazioneArrivo])
REFERENCES [dbo].[Stazione] ([idStazione])
GO
ALTER TABLE [dbo].[Tragitto] CHECK CONSTRAINT [FK_Tragitto_StazioneArrivo]
GO
ALTER TABLE [dbo].[Tragitto]  WITH CHECK ADD  CONSTRAINT [FK_Tragitto_StazionePartenza] FOREIGN KEY([idStazionePartenza])
REFERENCES [dbo].[Stazione] ([idStazione])
GO
ALTER TABLE [dbo].[Tragitto] CHECK CONSTRAINT [FK_Tragitto_StazionePartenza]
GO
ALTER TABLE [dbo].[Transazione]  WITH CHECK ADD  CONSTRAINT [FK_Transazione_Acquisto] FOREIGN KEY([idAcquisto])
REFERENCES [dbo].[Acquisto] ([idAcquisto])
GO
ALTER TABLE [dbo].[Transazione] CHECK CONSTRAINT [FK_Transazione_Acquisto]
GO
ALTER TABLE [dbo].[ValidazioneTitolo]  WITH CHECK ADD  CONSTRAINT [FK_ValidazioneTitolo_Titolo] FOREIGN KEY([idTitolo])
REFERENCES [dbo].[TitoloDiViaggio] ([idTitolo])
GO
ALTER TABLE [dbo].[ValidazioneTitolo] CHECK CONSTRAINT [FK_ValidazioneTitolo_Titolo]
GO
ALTER TABLE [dbo].[ValidazioneTitolo]  WITH CHECK ADD  CONSTRAINT [FK_ValidazioneTitolo_Tragitto] FOREIGN KEY([idTragitto])
REFERENCES [dbo].[Tragitto] ([idTragitto])
GO
ALTER TABLE [dbo].[ValidazioneTitolo] CHECK CONSTRAINT [FK_ValidazioneTitolo_Tragitto]
GO
ALTER TABLE [dbo].[Acquirente]  WITH CHECK ADD  CONSTRAINT [CHECK_Acquirente_tipoAcq] CHECK  (([tipoAcquirente]='Utente' AND [idUtente] IS NOT NULL AND [idProfilo] IS NULL OR [tipoAcquirente]='ProfiloDigitale' AND [idProfilo] IS NOT NULL AND [idUtente] IS NULL))
GO
ALTER TABLE [dbo].[Acquirente] CHECK CONSTRAINT [CHECK_Acquirente_tipoAcq]
GO
ALTER TABLE [dbo].[Agevolazione]  WITH CHECK ADD  CONSTRAINT [CHECK_Agevolazione_ScontoFisso] CHECK  (([scontoImportoFisso] IS NULL OR [scontoImportoFisso]>=(0)))
GO
ALTER TABLE [dbo].[Agevolazione] CHECK CONSTRAINT [CHECK_Agevolazione_ScontoFisso]
GO
ALTER TABLE [dbo].[Agevolazione]  WITH CHECK ADD  CONSTRAINT [CHECK_Agevolazione_ScontoPercentuale] CHECK  (([scontoImportoPercentuale] IS NULL OR [scontoImportoPercentuale]>=(0)))
GO
ALTER TABLE [dbo].[Agevolazione] CHECK CONSTRAINT [CHECK_Agevolazione_ScontoPercentuale]
GO
ALTER TABLE [dbo].[Agevolazione]  WITH CHECK ADD  CONSTRAINT [CHECK_Agevolazione_TipoSconto] CHECK  (([scontoImportoPercentuale] IS NOT NULL AND [scontoImportoFisso] IS NULL OR [scontoImportoPercentuale] IS NULL AND [scontoImportoFisso] IS NOT NULL))
GO
ALTER TABLE [dbo].[Agevolazione] CHECK CONSTRAINT [CHECK_Agevolazione_TipoSconto]
GO
ALTER TABLE [dbo].[AutorizzazionePagamento]  WITH CHECK ADD  CONSTRAINT [CHECK_AutorizzazionePagamento_Esito] CHECK  (([esito]='RIFIUTATA' OR [esito]='APPROVATA' OR [esito]='IN_ATTESA'))
GO
ALTER TABLE [dbo].[AutorizzazionePagamento] CHECK CONSTRAINT [CHECK_AutorizzazionePagamento_Esito]
GO
ALTER TABLE [dbo].[CartaRegalo]  WITH CHECK ADD  CONSTRAINT [CHECK_CartaRegalo_Stato] CHECK  (([stato]='EMESSA' OR [stato]='UTILIZZATA' OR [stato]='RIMBORSATA'))
GO
ALTER TABLE [dbo].[CartaRegalo] CHECK CONSTRAINT [CHECK_CartaRegalo_Stato]
GO
ALTER TABLE [dbo].[CartaRegalo]  WITH CHECK ADD  CONSTRAINT [CHECK_CartaRegalo_Valore] CHECK  (([valore]>(0)))
GO
ALTER TABLE [dbo].[CartaRegalo] CHECK CONSTRAINT [CHECK_CartaRegalo_Valore]
GO
ALTER TABLE [dbo].[CatturaPagamento]  WITH CHECK ADD  CONSTRAINT [CHECK_CatturaPagamento_Esito] CHECK  (([esito]='FALLITA' OR [esito]='CATTURATA' OR [esito]='IN_GESTIONE'))
GO
ALTER TABLE [dbo].[CatturaPagamento] CHECK CONSTRAINT [CHECK_CatturaPagamento_Esito]
GO
ALTER TABLE [dbo].[Corsa]  WITH CHECK ADD  CONSTRAINT [CHECK_Corsa_Ritardo] CHECK  (([ritardoMinuti] IS NULL OR [ritardoMinuti]>=(0)))
GO
ALTER TABLE [dbo].[Corsa] CHECK CONSTRAINT [CHECK_Corsa_Ritardo]
GO
ALTER TABLE [dbo].[Fermata]  WITH CHECK ADD  CONSTRAINT [CHECK_Fermata_Km_Positive] CHECK  (([kmDaPrecedente] IS NULL OR [kmDaPrecedente]>=(0)))
GO
ALTER TABLE [dbo].[Fermata] CHECK CONSTRAINT [CHECK_Fermata_Km_Positive]
GO
ALTER TABLE [dbo].[Fermata]  WITH CHECK ADD  CONSTRAINT [CHECK_Fermata_Ordine_Positive] CHECK  (([ordine]>(0)))
GO
ALTER TABLE [dbo].[Fermata] CHECK CONSTRAINT [CHECK_Fermata_Ordine_Positive]
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio]  WITH CHECK ADD  CONSTRAINT [CHECK_modalitaTariffa] CHECK  (([modalitaTariffa]='FISSA' OR [modalitaTariffa]='ZONA' OR [modalitaTariffa]='KM'))
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio] CHECK CONSTRAINT [CHECK_modalitaTariffa]
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio]  WITH CHECK ADD  CONSTRAINT [CHECK_tipoTitolo] CHECK  (([tipoTitolo]='ABBONAMENTO' OR [tipoTitolo]='BIGLIETTO' OR [tipoTitolo]='UNA_TANTUM'))
GO
ALTER TABLE [dbo].[ListinoTitoliViaggio] CHECK CONSTRAINT [CHECK_tipoTitolo]
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo]  WITH CHECK ADD  CONSTRAINT [CHECK_LogCaricamentoAbbonamenti_Importo] CHECK  (([importoRiscattato]>(0)))
GO
ALTER TABLE [dbo].[LogRiscattoCartaRegalo] CHECK CONSTRAINT [CHECK_LogCaricamentoAbbonamenti_Importo]
GO
ALTER TABLE [dbo].[Percorso]  WITH CHECK ADD  CONSTRAINT [CHECK_Percorso_Ordine_Positive] CHECK  (([ordine]>(0)))
GO
ALTER TABLE [dbo].[Percorso] CHECK CONSTRAINT [CHECK_Percorso_Ordine_Positive]
GO
ALTER TABLE [dbo].[Percorso]  WITH CHECK ADD  CONSTRAINT [CHECK_Percorso_OrdiniFermata] CHECK  (([ordineFermataSalita]<[ordineFermataDiscesa]))
GO
ALTER TABLE [dbo].[Percorso] CHECK CONSTRAINT [CHECK_Percorso_OrdiniFermata]
GO
ALTER TABLE [dbo].[Sanzione]  WITH CHECK ADD CHECK  (([importo]>(0)))
GO
ALTER TABLE [dbo].[Supplemento]  WITH CHECK ADD CHECK  (([importo]>=(0)))
GO
ALTER TABLE [dbo].[Tariffario]  WITH CHECK ADD  CONSTRAINT [Check_Tariffario_modalitaTariffa] CHECK  (([modalitaTariffa]='FISSA' OR [modalitaTariffa]='ZONA' OR [modalitaTariffa]='KM'))
GO
ALTER TABLE [dbo].[Tariffario] CHECK CONSTRAINT [Check_Tariffario_modalitaTariffa]
GO
ALTER TABLE [dbo].[Tariffario]  WITH CHECK ADD  CONSTRAINT [Check_Tariffario_tipoTitolo] CHECK  (([tipoTitolo]='ABBONAMENTO' OR [tipoTitolo]='BIGLIETTO' OR [tipoTitolo]='UNA_TANTUM'))
GO
ALTER TABLE [dbo].[Tariffario] CHECK CONSTRAINT [Check_Tariffario_tipoTitolo]
GO
ALTER TABLE [dbo].[Tariffario]  WITH CHECK ADD  CONSTRAINT [CK__TARIFFARI__prezz__30C33EC3] CHECK  (([prezzo]>=(0)))
GO
ALTER TABLE [dbo].[Tariffario] CHECK CONSTRAINT [CK__TARIFFARI__prezz__30C33EC3]
GO
ALTER TABLE [dbo].[Tessera]  WITH CHECK ADD  CONSTRAINT [CHECK_Tessera_Stato] CHECK  (([stato]='ATTIVA' OR [stato]='SCADUTA' OR [stato]='RIMBORSATA'))
GO
ALTER TABLE [dbo].[Tessera] CHECK CONSTRAINT [CHECK_Tessera_Stato]
GO
ALTER TABLE [dbo].[Tragitto]  WITH CHECK ADD  CONSTRAINT [CHECK_Tragitto_Stazioni_Diverse] CHECK  (([idStazionePartenza]<>[idStazioneArrivo]))
GO
ALTER TABLE [dbo].[Tragitto] CHECK CONSTRAINT [CHECK_Tragitto_Stazioni_Diverse]
GO
ALTER TABLE [dbo].[Transazione]  WITH CHECK ADD  CONSTRAINT [CHECK_Transazione_Stato] CHECK  (([stato]='FALLITA' OR [stato]='CATTURATA' OR [stato]='IN_PROGRESS' OR [stato]='CREATA'))
GO
ALTER TABLE [dbo].[Transazione] CHECK CONSTRAINT [CHECK_Transazione_Stato]
GO
ALTER TABLE [dbo].[ValidazioneTitolo]  WITH CHECK ADD  CONSTRAINT [CHECK_ValidazioneTitolo_Esito] CHECK  (([esito]='NON_VALIDA' OR [esito]='VALIDA'))
GO
ALTER TABLE [dbo].[ValidazioneTitolo] CHECK CONSTRAINT [CHECK_ValidazioneTitolo_Esito]
GO
/****** Object:  StoredProcedure [dbo].[pCaricaAbbonamentoSuTessera]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pCaricaAbbonamentoSuTessera]
(
    @idTessera INT,
    @idTitolo INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.TitoloDiViaggio TV
        JOIN dbo.Tariffario T
        ON (T.idTariffa = TV.idTariffa)
        
        WHERE TV.idTitolo = @idTitolo AND T.tipoTitolo = 'ABBONAMENTO' AND TV.stato <> 'RIMBORSATO'
    )
    BEGIN

        RETURN
    
    END

    INSERT INTO dbo.LogCaricamentoAbbonamenti (idTessera, idTitolo, dataCarico)
    VALUES (@idTessera, @idTitolo, SYSDATETIME())


END

GO
/****** Object:  StoredProcedure [dbo].[pCreaTransazioneSET]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pCreaTransazioneSET]
(
    @idAcquisto INT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Transazione (idAcquisto, stato, importo)
    SELECT
        idAcquisto,
        'CREATA',
        costoTotale
    FROM Acquisto
    WHERE idAcquisto = @idAcquisto;
END;
GO
/****** Object:  StoredProcedure [dbo].[pEffettuaAcquisto]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pEffettuaAcquisto]
(
    @idAcquirente INT,
    @idOpzioneAcquisto INT,
    @idTariffa INT,
    @canaleAcquisto NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idAcquisto INT;
    DECLARE @idTitolo INT;
    DECLARE @categoriaTitolo NVARCHAR(20);
    DECLARE @prezzo DECIMAL(10,2);

    
    SELECT
        @prezzo = prezzo
    FROM Tariffario
    WHERE idTariffa = @idTariffa




    SELECT
        @categoriaTitolo = L.categoriaTitolo
    
    FROM ListinoTitoliViaggio L
    JOIN OpzioneAcquisto O
    ON (L.idListinoTitolo = O.idListinoTitolo)
    WHERE O.idOpzioneAcquisto = @idOpzioneAcquisto



    INSERT INTO Acquisto
    (idAcquirente, canaleAcquisto, statoAcquisto, costoTotale, idOpzioneAcquisto)
    VALUES
    (@idAcquirente, @canaleAcquisto, 'CREATO', @prezzo, @idOpzioneAcquisto)
    
    SET @idAcquisto = SCOPE_IDENTITY()




    IF @categoriaTitolo = 'CARTA_REGALO'
    BEGIN
        INSERT INTO CartaRegalo (idAcquisto, stato)
        VALUES (@idAcquisto, 'ATTIVA')
    END

    ELSE IF @categoriaTitolo = 'TESSERA'
    BEGIN
        INSERT INTO Tessera (stato, idAcquisto)
        VALUES ('ATTIVA', @idAcquisto)
    END
    
    ELSE
    BEGIN
        INSERT INTO TitoloDiViaggio (idAcquisto, stato, idTariffa, dataAttivazione)
        VALUES (@idAcquisto, 'EMESSO', @idTariffa, GETDATE())

        SET @idTitolo = SCOPE_IDENTITY()
    END





    IF @canaleAcquisto = 'ONLINE'
    BEGIN
        EXEC pCreaTransazioneSET @idAcquisto;
    END



END
GO
/****** Object:  StoredProcedure [dbo].[pGetChilometraggioCorsa]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pGetChilometraggioCorsa]
    @codiceLinea NVARCHAR(20),
    @ordinePartenza INT,
    @ordineArrivo INT
AS
BEGIN
    SET NOCOUNT ON;


    IF @ordinePartenza >= @ordineArrivo
    BEGIN
        RETURN;
    END;

    SELECT
        @codiceLinea AS codiceLinea,
        @ordinePartenza AS ordinePartenza,
        @ordineArrivo AS ordineArrivo,
        SUM(kmDaPrecedente) AS chilometraggioTotale
    
    FROM dbo.Fermata 
    WHERE codiceLinea = @codiceLinea AND ordine > @ordinePartenza AND ordine <= @ordineArrivo

END
GO
/****** Object:  StoredProcedure [dbo].[pGetChilometraggioTragitto]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pGetChilometraggioTragitto]
    @idTragitto INT
AS
BEGIN
    
    SET NOCOUNT ON;

    SELECT
        T.idTragitto,
        SUM(F.kmDaPrecedente) AS chilometraggioTotale
    
    FROM dbo.Tragitto T
    
    JOIN dbo.Percorso P
    ON (P.idTragitto = T.idTragitto)
    
    JOIN dbo.Corsa C
    ON (C.idCorsa = P.idCorsa)
    
    JOIN dbo.Fermata F
    ON (F.codiceLinea = C.codiceLinea)
    
    WHERE T.idTragitto = @idTragitto AND F.ordine > P.ordineFermataSalita AND F.ordine <= P.ordineFermataDiscesa AND F.kmDaPrecedente IS NOT NULL
    GROUP BY T.idTragitto


END
GO
/****** Object:  StoredProcedure [dbo].[pGetPrezzoDaListinoKm]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pGetPrezzoDaListinoKm]
(
    @codiceTipoTitolo NVARCHAR(50),
    @km INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        t.idTariffa,
        L.idListinoTitolo,
        L.codiceTipoTitolo,
        L.descrizione AS descrizioneTitolo,
        L.tipoTitolo,
        L.categoriaTitolo AS categoriaListino,
        L.modalitaTariffa,
        L.sistemaTariffario,
        T.categoriaTitolo   AS categoriaTariffa,
        T.kmDa,
        T.kmA,
        T.prezzo
    
    FROM dbo.ListinoTitoliViaggio L
    
    JOIN dbo.Tariffario T
    ON (T.tipoTitolo = L.tipoTitolo AND T.modalitaTariffa = L.modalitaTariffa AND T.lineaTariffaria = L.sistemaTariffario)
    
    WHERE L.codiceTipoTitolo = @codiceTipoTitolo AND T.kmDa <= @km AND T.kmA >= @km



END
GO
/****** Object:  StoredProcedure [dbo].[pModificaValiditaTitolo]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pModificaValiditaTitolo]
(
    @idTitolo INT,
    @idAcquirente INT,
    @nuovaDataAttivazione DATETIME2(7) = NULL,
    @nuovaDataScadenza DATETIME2(7) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dataAttualeAttivazione DATETIME2(7), @dataAttualeScadenza DATETIME2(7), @statoTitolo NVARCHAR(30);

    
    SELECT
        @dataAttualeAttivazione = dataAttivazione,
        @dataAttualeScadenza = dataScadenza,
        @statoTitolo = stato
    
    FROM dbo.TitoloDiViaggio
    WHERE idTitolo = @idTitolo

    IF @statoTitolo = 'RIMBORSATO'
    BEGIN
        RETURN
    END


    IF @nuovaDataAttivazione IS NOT NULL AND @nuovaDataAttivazione <> @dataAttualeAttivazione
    BEGIN

        INSERT INTO dbo.LogModificaTitolo (idTitolo, idAcquirente, campoModificato, valorePrecedente, valoreNuovo)
        VALUES (@idTitolo, @idAcquirente, 'dataAttivazione', @dataAttualeAttivazione, @nuovaDataAttivazione)

        UPDATE dbo.TitoloDiViaggio
        SET dataAttivazione = @nuovaDataAttivazione
        WHERE idTitolo = @idTitolo

    END

    
    
    
    IF @nuovaDataScadenza IS NOT NULL AND @nuovaDataScadenza <> @dataAttualeScadenza
    BEGIN


        INSERT INTO dbo.LogModificaTitolo (idTitolo, idAcquirente, campoModificato, valorePrecedente, valoreNuovo)
        VALUES (@idTitolo, @idAcquirente, 'dataScadenza', @dataAttualeScadenza, @nuovaDataScadenza)

        UPDATE dbo.TitoloDiViaggio
        SET dataScadenza = @nuovaDataScadenza
        WHERE idTitolo = @idTitolo

    END



END

GO
/****** Object:  StoredProcedure [dbo].[pRegistraUtilizzoTitolo]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pRegistraUtilizzoTitolo]
(
    @idTitolo INT,
    @idTragitto INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @esito NVARCHAR(30);
    DECLARE @motivazione NVARCHAR(255);

    IF NOT EXISTS (
        SELECT 1
        FROM TitoloDiViaggio
        WHERE idTitolo = @idTitolo
    )
    BEGIN
        SET @esito = 'NON_VALIDA';
        SET @motivazione = 'Titolo inesistente';
    END
    ELSE IF EXISTS (
        SELECT 1
        FROM TitoloDiViaggio
        WHERE idTitolo = @idTitolo
          AND stato = 'RIMBORSATO'
    )
    BEGIN
        SET @esito = 'NON_VALIDA';
        SET @motivazione = 'Titolo rimborsato';
    END
    ELSE
    BEGIN
        SET @esito = 'VALIDA';
        SET @motivazione = 'Utilizzo registrato';
    END

    INSERT INTO ValidazioneTitolo
    (idTitolo, idTragitto, esito)
    VALUES
    (@idTitolo, @idTragitto, @esito);
END;
GO
/****** Object:  StoredProcedure [dbo].[RiscattaCartaRegalo]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RiscattaCartaRegalo]
(
    @idCartaRegalo INT,
    @idProfilo INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @importo DECIMAL(10,2);


    BEGIN TRANSACTION;

        SELECT @importo = valore
        FROM dbo.CartaRegalo
        WHERE idCartaRegalo = @idCartaRegalo AND stato = 'EMESSA'

        IF @importo IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE dbo.ProfiloDigitale
        SET credito = credito + @importo
        WHERE idProfilo = @idProfilo

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO dbo.LogRiscattoCartaRegalo
        (
            idProfilo,
            idCartaRegalo,
            importoRiscattato,
            dataRiscatto
        )
        VALUES
        (
            @idProfilo,
            @idCartaRegalo,
            @importo,
            SYSDATETIME()
        );

        UPDATE dbo.CartaRegalo
        SET stato = 'UTILIZZATA'
        WHERE idCartaRegalo = @idCartaRegalo

    COMMIT TRANSACTION

END


GO
/****** Object:  Trigger [dbo].[tAutorizzazioneToCattura]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tAutorizzazioneToCattura]
ON [dbo].[AutorizzazionePagamento]
AFTER UPDATE
AS

BEGIN

    SET NOCOUNT ON;

    INSERT INTO CatturaPagamento (idRichiestaAutorizzazione, timestamp, importo, esito)
    
    SELECT
        I.idRichiestaAutorizzazione,
        SYSDATETIME(),
        T.importo,
        'IN_GESTIONE'
    
    FROM inserted I
    JOIN deleted D
    ON (D.idRichiestaAutorizzazione = I.idRichiestaAutorizzazione)
    
    JOIN Transazione T
    ON (T.idTransazione = I.idTransazione)
    
    WHERE   D.esito = 'IN_ATTESA'AND I.esito = 'APPROVATA'
            AND NOT EXISTS (
                SELECT 1
                FROM CatturaPagamento C
                WHERE C.idRichiestaAutorizzazione = I.idRichiestaAutorizzazione
            )

END

GO
ALTER TABLE [dbo].[AutorizzazionePagamento] ENABLE TRIGGER [tAutorizzazioneToCattura]
GO
/****** Object:  Trigger [dbo].[tCatturaToTransazione]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tCatturaToTransazione]
ON [dbo].[CatturaPagamento]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE t
    SET stato = 'CATTURATA'
    
    FROM Transazione T
    JOIN AutorizzazionePagamento AP
    ON (AP.idTransazione = T.idTransazione)
    
    JOIN inserted I
    ON (I.idRichiestaAutorizzazione = AP.idRichiestaAutorizzazione)
    
    JOIN deleted D ON (D.idCattura = i.idCattura)
    WHERE D.esito = 'IN_GESTIONE' AND I.esito = 'CATTURATA'


END
GO
ALTER TABLE [dbo].[CatturaPagamento] ENABLE TRIGGER [tCatturaToTransazione]
GO
/****** Object:  Trigger [dbo].[tLogSanzioneFromControlloTitolo]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tLogSanzioneFromControlloTitolo]
ON [dbo].[ControlloTitolo]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Sanzione (idControllo, importo, causale, stato, idAcquirente )
    
    SELECT
        I.idControllo,
        (35 + 12 + tf.prezzo),
        'Controllo titolo non valido',
        'EMESSA',
        Acquirente.idAcquirente
    FROM inserted I
    
    JOIN dbo.TitoloDiViaggio TV
    ON (TV.idTitolo = I.idTitolo)
    
    JOIN dbo.Acquisto
    ON (Acquisto.idAcquisto = TV.idAcquisto)
    
    JOIN dbo.Acquirente
    ON (Acquirente.idAcquirente = Acquisto.idAcquirente)
    
    JOIN dbo.Tariffario tf
    ON (tf.idTariffa = TV.idTariffa)
    
    WHERE   I.esito = 'NEGATIVO'
            AND NOT EXISTS (
                SELECT 1
                FROM dbo.Sanzione s
                 WHERE s.idControllo = I.idControllo
            )


END;
GO
ALTER TABLE [dbo].[ControlloTitolo] ENABLE TRIGGER [tLogSanzioneFromControlloTitolo]
GO
/****** Object:  Trigger [dbo].[tUpdateStatoRimborso]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tUpdateStatoRimborso]
ON [dbo].[Rimborso]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE A
    SET A.statoAcquisto = 'RIMBORSATO'
    FROM dbo.Acquisto A
    JOIN inserted I  
    ON (I.idAcquisto = a.idAcquisto)

    UPDATE TV
    SET TV.stato = 'RIMBORSATO'
    FROM dbo.TitoloDiViaggio TV
    JOIN inserted I
    ON (I.idAcquisto = TV.idAcquisto)

    UPDATE CR
    SET CR.stato = 'RIMBORSATA'
    FROM dbo.CartaRegalo CR
    JOIN inserted I
    ON (I.idAcquisto = CR.idAcquisto)

    UPDATE T
    SET T.stato = 'RIMBORSATA'
    FROM dbo.Tessera T
    JOIN inserted I
    ON (I.idAcquisto = T.idAcquisto)


END
GO
ALTER TABLE [dbo].[Rimborso] ENABLE TRIGGER [tUpdateStatoRimborso]
GO
/****** Object:  Trigger [dbo].[TR_Sanzione_AggiornaImporto]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TR_Sanzione_AggiornaImporto]
ON [dbo].[Sanzione]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE s
    SET
        importo =
        CASE
            WHEN DATEDIFF(DAY, s.dataEmissione, SYSDATETIME()) BETWEEN 6 AND 60
                THEN (50 + 12 + tf.prezzo)
            WHEN DATEDIFF(DAY, s.dataEmissione, SYSDATETIME()) > 60
                THEN (100 * tf.prezzo + 12 + tf.prezzo)
            ELSE s.importo
        END,
        stato =
        CASE
            WHEN DATEDIFF(DAY, s.dataEmissione, SYSDATETIME()) > 5
                THEN 'AGGRAVATA'
            ELSE s.stato
        END
    FROM dbo.Sanzione s
    JOIN inserted i
        ON i.idSanzione = s.idSanzione
    JOIN dbo.ControlloTitolo lct
        ON lct.idControllo = s.idControllo
    JOIN dbo.TitoloDiViaggio tdv
        ON tdv.idTitolo = lct.idTitolo
    JOIN dbo.Tariffario tf
        ON tf.idTariffa = tdv.idTariffa
    WHERE s.stato <> 'PAGATA';
END;
GO
ALTER TABLE [dbo].[Sanzione] ENABLE TRIGGER [TR_Sanzione_AggiornaImporto]
GO
/****** Object:  Trigger [dbo].[tTransazioneToAutorizzazione]    Script Date: 18/12/2025 21:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tTransazioneToAutorizzazione]
ON [dbo].[Transazione]
AFTER UPDATE
AS
BEGIN


    SET NOCOUNT ON;

    INSERT INTO AutorizzazionePagamento (idTransazione, timestamp, tokenPagamento, esito, risposta)
    
    SELECT
        I.idTransazione,
        SYSDATETIME(),
        CONCAT('TOKEN_', I.idTransazione),
        'IN_ATTESA',
        'Richiesta autorizzazione inviata'

    FROM inserted I
    JOIN deleted D
    ON (D.idTransazione = I.idTransazione)
    
    WHERE   D.stato = 'CREATA' AND I.stato = 'IN_PROGRESS'
            AND NOT EXISTS (
                SELECT 1
                FROM AutorizzazionePagamento AP
                WHERE AP.idTransazione = I.idTransazione
            )
END
GO
ALTER TABLE [dbo].[Transazione] ENABLE TRIGGER [tTransazioneToAutorizzazione]
GO
USE [master]
GO
